@import "tailwindcss";

@theme {
  --color-papel: #e8dfd1;       
  --color-tinta: #1a1a1a;       
  --color-primario: #1a365d;    
  --color-secundario: #8d2323;  
}

:root {
  --color-papel: #e8dfd1;       
  --color-tinta: #1a1a1a;       
  --color-primario: #1a365d;    
  --color-secundario: #8d2323;  
}

body {
  background-color: #bcaf9d;
  color: var(--color-tinta);
  margin: 0;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

